img {
  width: 300px;
  height: 200px;
  border-radius: 50%;
}
body {
  text-align: center;
  background: linear-gradient(#2dc4cc, #e287e6);
}
h1 {
  font-size: 40px;
  font-family: sans-serif;
}

#name {
  font-size: 30px;
  font-family: "Kalam", cursive;
}

h2 {
  font-size: 30px;
  font-family: monospace;
}

.inner {
  display: table-cell;
  position: relative;
  vertical-align: middle;
}

#bio {
  padding: 50px;
  font-size: 42px;
    background-color: burlywood;
}

.menu {
    position: fixed;
    background: white;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links {
    display: inline;
    padding-left: 33px;
    padding-right: 25px;
    font-family: fantasy;
    font-size: 20px
}

.links:hover {
    font-size: 25px;
    text-decoration: underline;
}

.line {
  height: 6px;
  background-color: firebrick;
  width: 70px;
  margin: 8px auto;
}

p {
  max-width: 450px;
  margin: 25px auto;
  font-size: 20px;
}
#favorite{
    text-align: center;
}
#imgIns {
    transition: transform .2s;
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#imgIns:hover {
    transform: scale(0.9);
}
a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}

#writings a {
    text-shadow: none !important;
    text-decoration: underline !important;
    color: blue !important;
}

.article:hover {
    color: fuchsia;
    font-size: 23px;
}

#contact {
    background: firebrick;
}
#contact iframe{
    width: 600px;
}
.contact1 h3 {
    display: inline;
}

.contact1 a {
    color: white !important;
    text-shadow: none !important;
}
